body {
    margin: 0px 0px;
    font-family: 'halyard-display';
    background-color: black;
}

header {
    background-color: black;
    position: sticky; top: 0;
    display: flex;
    justify-content: space-around;
    flex-basis: 100%;
    width: 100%;
    height: 100px;
    font-size: 16px;
}

.left-links {
    display: flex;
    justify-content: flex-start;
}

.right-links {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    
}

.left-links, .right-links {
    gap: 1rem;
    align-items: center;
}

a:hover {
    color: red;
    text-decoration-line: underline;
}

.logo img {
    max-width: 50%;
    max-height: 80%;
    border-radius: 50% 25%;  /*Rounds corners. Top left, top right, bottom left, bottom right*/
    border: 1px;
    border-color: coral;
    border-style: double;
    border-spacing: 12px;
}


    

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 36px;
}

a {
    text-decoration: none;
    color: azure;
}

.container {
    background-color: black;
}

.plant {
    width: 100%;
    height: 100%;
}

.top h4 {
    color: red;
    padding: 1% 43% 0 43%;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap; /*Keeps text on one line*/
}

.top {
    background-color: black;
    color: azure;
}
.top p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 48px 32px 48px;
    font-size: 14px;
}

.mission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:ghostwhite;
    width: ;
    padding: 108px 10%;
}

.mission h2 {
    font-weight: 200;
}

.what {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:white;
    padding: 108px 20% 108px 20%;
}

.what h2 {
    font-weight: 100;
    font-size: 1.25rem;
    font-family: 'sans serif';
    padding-bottom: 32px; 
}

.pwhat {
    line-height: 32px; /*Spaces text between the lines*/
    padding-bottom: 48px;
}

.steps {
    display: flex;
    gap: 2rem;
}

.steps img {
    max-width: 95%;
}

.step1 {
}

.content {
    line-height: 21px;
    font-size: .9rem;
}

.store {
    margin-top: 6rem;
    height: 64px;
    width: 170px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 100;
}

.store:hover {
    opacity: 75%;
    cursor: grabbing;
}